body {
  background-color: #021116;
  color: white;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  height: 100vh;
  height: 100%;
  width: 100%;
}

.bg_video {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  z-index: -100;
  opacity: 20%;
}

.bulb {
  display: block;
  margin: auto;
  width: 500px;
  height: 781px;
}

.bubble {
  position: absolute;
  font-family: "Avenir Next";
  text-align: center;
  text-anchor: end;
  font-size: 0%;
  width: 150px;
  height: 150px;
  line-height: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  background: #49c3d8;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.bubble:hover {
  background: cyan;
  font-size: 200%;
}

.bubbles :nth-child(1) {
  transform: translateX(117%) translateY(55%);
  scale: 160%;
}

.bubbles :nth-child(2) {
  transform: translateX(45%) translateY(150%);
  scale: 130%;
}

.bubbles :nth-child(3) {
  transform: translateX(205%) translateY(260%);
  scale: 90%;
}

.bulb_bg_img {
  position: absolute;
  height: auto;
  width: inherit;
  margin: auto;
  opacity: 60%;
}

.koi {
  position: absolute;
  height: auto;
  width: inherit;
  margin: auto;
}

.koi:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  opacity: 0%;
  pointer-events: none;
}

.text_logo_img {
  display: block;
  margin: auto;
  margin-top: 10px;
  height: auto;
  width: 400px;
}
